body {
  background-color: #3B3B3B;
}
div.main {
  width: 100%;
}
div.title-head {
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 100;
  height: 40px;
  width: 100%;
}
div.upper-dock {
  position: fixed;
  top: 40px;
  /*height: 50px;*/
  width: 100%;
  background-color: red;
  z-index: 100;
  display: flex;
}
div.lower-dock {
  position:fixed;
  bottom: 0px;
  /*height: 50px;*/
  width: 100%;
  background-color: blue;
  z-index:100;
  display: flex;
}
div.main-body {
  z-index:1;
  width: 100%;
  color: white;
}
div.dock-icon {
  padding: 7px;
}
img.dock-icon {
  max-width: 100%;
}
img.topic-icon {
  max-height: 300px;
}
div.main-content {
  position: relative;
  width: 60%;
  top: 120px;
  padding-top: 30px;
}
div.topic-container {
  padding-bottom: 180px;
}
