body {
  background-color: #3B3B3B;
}
div.main {
  z-index:1;
  width: 100%;
  color: white;
  font-size: 1.3em;
}
div.title-head {
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 100;
  height: 50px;
  width: 100%;
}
div.dock {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 70px;
}
div.upper-dock {
  top: 50px;
  background-color: black;
}
div.lower-dock {
  bottom: 0px;
  background-color: white;
}

div.dock-icon-container {
  float: left;
  min-width: 60%;
}
div.dock-icon {
  padding: 4px;
  width: 6%;
  max-width: 100px;
  float: left;
}
img.dock-icon {
  max-width: 100%;
}


div.main-content {
  position: relative;
  width: 75%;
  top: 120px;
  padding-top: 30px;
}


div.topic-container {
  padding-bottom: 180px;
}
div.topic-icon {
  float: left;
  width: 40%;
  padding: 10px;
}
img.topic-icon {
  max-width: 100%;
}

div.related-icons {
  display: flex;
  width: 100%;
  padding-top: 7px;
}
div.related-icon {
  width: 16%;
  padding: 8px;
}
img.related-icon {
  max-width: 100%;
}
h2.topic-title {
  font-size: 2.5em;
}
div.topic-text {
  padding: 5px;
}

div.BAH-brand {
  float: left;
}
div.gridiron-brand {
  float: right;
}
div.title-branding {
  float: left;
  width: 80%;
  padding: 10px;
}
div.nav-menu {
  float: right;
}
ul.dropdown-menu {
  z-index: 101;
}

.navbar-toggle {
  display: block;
}

.dropdown-menu {
  border-radius: 0px;
  margin: 0px;
}

.navbar-toggle {
  margin: 0px;
}

.navbar {
  min-height: 20px;
}
.menu-item-l2 {
  margin-left: 4px;
}
li.menu-item-l1 > a {
  font-weight: bold;
}
